body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 99%;
	color: #414141;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	border: 0;
}

#wrapper {
	max-width: 1250px;
	margin: 0 auto;

}

header h1 {
	max-width: 40%;
	float: left;

}

nav {
	float: right;
	margin-top: .5em;
}

nav a {
	text-decoration: none;
	font-size: 1.125em;
	margin: 0 .125em;
	padding: .5em 1em;
	color: #414141;
	background-color: #bfd3f2;
}

nav a:hover{
	color: #ccc;
}

.content {
	clear: both;
	padding: 1em;
}

.user_list {
	float: left;
	margin: 0 .125em;
	list-style: none;
	max-width: 25%;
	padding: 0;
}

.user_list a:link {
	text-decoration: none;
	color: #414141;
}

.user_list a:visited {
	
	color: #414141;
}

.user_list a:hover {
	color: #ccc;
}

.user_details {
	float: left;
	max-width: 70%;
	margin: 0 5em;
	padding: 0 2.5em;
	background-color: #bfd3f2;
}

footer {
position: absolute;
bottom: 0;

}